/*=====
data table style
=====*/

.data-table-section {
    padding: 100px 50px;

    .component-heading {
        margin-bottom: 20px;

        .title {
            font-size: 18px;
            font-weight: 600;
            color: #010101;
        }
    }

    .search {
        margin-bottom: 20px;

        .form-group {
            position: relative;
            padding: 0;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 100%;
                font-size: 12px;
                color: #abbac6;
            }

            input.form-control {
                width: 350px;
                padding: 10px 10px 10px 40px;
                border: 1px solid #d2e7f7;
                border-radius: 16px;
                font-size: 14px;
                font-weight: 400;
                color: #505c66;
                transition: 0.3s;
                &:focus {
                    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);
                }
                &::placeholder {
                    color: #abbac6;
                }

                @media (max-width: 575px) {
                    width: 100%;
                }
            }
        }
    }

    table.primary-table {
        border-collapse: unset;
        margin-bottom: 20px;
    
        thead {
            tr {
                th {
                    font-size: 14px;
                    font-weight: 500;
                    color: #abbac6;
                }
            }
        }

        tbody {
            tr {
                transition: 0.3s;
                &:hover {
                    background-color: #f9f9f9;
                }

                td {
                    padding: 15px 10px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #505c66;
                }
            }
        }
    }

    // Pulse-loader
    .v-pulse {
        background-color: #6aafe6 !important;
    }

    // Pagination
    .pagination {
        // Pagination list
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            
            // Pagination button
            li.pagination-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
                padding: 10px;
                min-width: 40px;
                height: 40px;
                border: 1px solid #d2e7f7;
                border-radius: 10px;
                background-color: #eaf3fa;
                color: #6aafe6;
                transition: 0.3s;

                &.active {
                    background-color: #6aafe6;
                    color: #fff;
                }

                &:hover {
                    background-color: #6aafe6;
                    color: #fff;
                }
            }
        }
    }
}